@model List<ProjetWeb.MODEL.UtilisateurModel>
@{
    Layout = "~/Views/Shared/_LayoutLecteur.cshtml";
    ViewBag.Title = "Home Page";
}
@foreach (var item in Model)
{
<div class="form-group">
   <h3 Class="page-header"> Bienvenue @Html.DisplayFor(modelItem => item.NomComplet)</h3>
    @Html.ActionLink("Mes informations de Profil", "Details", new { id = item.ID_User })
</div>
    }